# LÃ¶sung Lab 06: Pandas & Performance

### Basis Aufgabe

In [4]:
import pandas as pd

# 1. Laden & Inspektion
df = pd.read_csv("big_transactions.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   transaction_id  100000 non-null  int64
 1   amount          100000 non-null  float64
 2   currency        100000 non-null  object
 3   type            100000 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.1+ MB

In [5]:
df.head()

   transaction_id   amount currency        type
0               0  2374.95      USD     deposit
1               1  3078.32      GBP     deposit
2               2  1566.51      USD  withdrawal
3               3  3078.32      GBP  withdrawal
4               4  1338.85      GBP     payment

In [6]:
# 2. Selektion (Boolean Indexing)
# Filter: Amount > 2000
high_value_tx = df[df['amount'] > 2000.00]

# Filter: USD AND Deposit
usd_deposits = df[(df['currency'] == 'USD') & (df['type'] == 'deposit')]

# 3. Reporting
print(f"\nHigh Value Transactions found: {len(high_value_tx)}")
print(f"USD Deposits found: {len(usd_deposits)}")

mean_val = high_value_tx['amount'].mean()
print(f"Average High Value Amount: {mean_val:.2f}")

High Value Transactions found: 60086
USD Deposits found: 11114
Average High Value Amount: 3496.37

### Bonus Herausforderung

In [7]:
import time

# 2. Der "Naive" Ansatz (Loop)
print("\nStarting Loop Calculation...")
start_loop = time.time()

fees_list = []
for index, row in df.iterrows():
    # Zugriff auf einzelne Zeile (langsam)
    fee = row['amount'] * 0.02
    fees_list.append(fee)

end_loop = time.time()
loop_duration = end_loop - start_loop
print(f"Loop Duration: {loop_duration:.4f} seconds")

Starting Loop Calculation...
Loop Duration: 3.6044 seconds

In [9]:
# 3. Der "Pandas" Ansatz (Vektorisierung)
print("Starting Vectorized Calculation...")
start_vec = time.time()

# Berechnung auf der ganzen Spalte (schnell)
df['fee'] = df['amount'][df['currency'] == "EUR"] * 0.02

end_vec = time.time()
vec_duration = end_vec - start_vec
print(f"Vector Duration: {vec_duration:.4f} seconds")

# 4. Vergleich
factor = loop_duration / vec_duration
print(f"\nVectorization was {factor:.1f}x faster!")

Starting Vectorized Calculation...
Vector Duration: 0.0110 seconds

Vectorization was 327.6x faster!