In [1]:
import pandas as pd
df = pd.read_csv('big_transactions.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   transaction_id  100000 non-null  int64
 1   amount          100000 non-null  float64
 2   currency        100000 non-null  object
 3   type            100000 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.1+ MB

In [3]:
df.head()

   transaction_id   amount currency        type
0               0  2374.95      USD     deposit
1               1  3078.32      GBP     deposit
2               2  1566.51      USD  withdrawal
3               3  3078.32      GBP  withdrawal
4               4  1338.85      GBP     payment

In [5]:
usd_mask = df['currency'] == 'USD'
usd_transactions = df[usd_mask]
risk_mask = (df['amount'] > 2000.00) & (df['type'] == 'withdrawal')
large_withdrawals = df[risk_mask]
count = len(large_withdrawals)
total_amount = large_withdrawals['amount'].sum()

print("\n--- Report ---")
print(f"Anzahl USD Transaktionen: {len(usd_transactions)}")
print(f"Anzahl Risiko-Abhebungen: {count}")
print(f"Summe Risiko-Beträge: {total_amount:,.2f}")

--- Report ---
Anzahl USD Transaktionen: 33574
Anzahl Risiko-Abhebungen: 20099
Summe Risiko-Beträge: 70,354,795.01