In [1]:
import pandas as pd
tx_df = pd.read_csv('transactions_dirty.csv')
cust_df = pd.read_csv('customers.csv')

In [2]:
tx_df.isna().sum()

date          0
account_id    0
amount        2
type          0
dtype: int64

In [3]:
tx_df['amount'] = tx_df['amount'].fillna(0.0)
merged_df = pd.merge(tx_df, cust_df, on='account_id', how='left')
merged_df.head()

         date  account_id       amount        type        name region
0  2024-01-01         101     0.000000  withdrawal  Alice Corp     EU
1  2024-01-02         102   377.955028     deposit     Bob Ltd     US
2  2024-01-03         101  1176.646570     deposit  Alice Corp     EU
3  2024-01-04         999  1574.914245  withdrawal         NaN    NaN
4  2024-01-05         101   203.434260     deposit  Alice Corp     EU

In [4]:
orphans = merged_df[merged_df['name'].isna()]
if not orphans.empty:
    print(f"\nWarnung: {len(orphans)} Transaktionen ohne Kunden-Match gefunden!")
else:
    print('Keine orpahn transactions')

Warnung: 4 Transaktionen ohne Kunden-Match gefunden!

In [5]:
report = merged_df.groupby('region')['amount'].sum()
print(report)

region
EU    6024.160609
US    2912.100389
Name: amount, dtype: float64

In [6]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        20 non-null     object
 1   account_id  20 non-null     int64
 2   amount      20 non-null     float64
 3   type        20 non-null     object
 4   name        16 non-null     object
 5   region      16 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.1+ KB