# Lab 08: Datenvisualisierung mit Plotly

### Setup: Daten generieren

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

dates = pd.date_range(start="2024-01-01", periods=100)
counts_per_day = np.random.randint(1, 15, size=len(dates))
variable_dates = np.repeat(dates, counts_per_day)
total_rows = len(variable_dates)
df = pd.DataFrame({
    "date": variable_dates,
    "region": np.random.choice(["EU", "US", "ASIA"], total_rows),
    "type": np.random.choice(["deposit", "withdrawal", "payment"], total_rows),
    "amount": np.random.uniform(10, 500, total_rows)
})

# Withdrawal/Payment negativ machen
df.loc[df["type"] != "deposit", "amount"] *= -1

# Helper column for size mapping (cannot map negative size)
df["abs_amount"] = df["amount"].abs()

print("Data prepared.")

Data prepared.

In [3]:
df.head()

        date region        type      amount  abs_amount
0 2024-01-01     EU  withdrawal  -46.852907   46.852907
1 2024-01-01   ASIA     deposit  376.183586  376.183586
2 2024-01-01     EU  withdrawal  -94.854649   94.854649
3 2024-01-01   ASIA     payment -147.656282  147.656282
4 2024-01-01     US     deposit   99.717343   99.717343

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775 entries, 0 to 774
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        775 non-null    datetime64[ns]
 1   region      775 non-null    object
 2   type        775 non-null    object
 3   amount      775 non-null    float64
 4   abs_amount  775 non-null    float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 30.4+ KB

### Basis Aufgabe

In [ ]:
# Scatter Plot
# Analog zu Theory Section 2: Color, Size, Hover Data
fig_scatter = None
# TODO: Implement
fig_scatter.show()

In [ ]:
# Bar Chart
# Aggregation
region_counts = df["region"].value_counts().reset_index()
region_counts.columns = ["region", "count"]

# Analog zu Theory Section 3: Text labels
fig_bar = None
# TODO: Implement
fig_bar.show()

### Bonus Herausforderung

In [ ]:
# Line Chart with Formatting
# Daily aggregation
daily_counts = df.groupby("date").size().reset_index(name="captures")

# Analog zu Theory Section 4: Line with Markers + X-Axis format
fig_line = None
# TODO: Implement

# Format X-Axis (e.g., Monthly ticks, abbreviated month name)
fig_line.update_xaxes(dtick="M1", tickformat="%b")
fig_line.show()

In [ ]:
# Histogram with Faceting & Export
# Analog zu Theory Section 5: Facet Col, Template, Layout update
fig_hist = None
# TODO: Implement

# Global Layout updates
fig_hist.update_layout(yaxis_title="Frequency", xaxis_title="EUR Amount")

fig_hist.show()

# Export
fig_hist.write_html("banking_report.html")
print("Exported 'banking_report.html'.")